<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uudownload">

    <application>
        <provider
            android:name="com.thjolin.download.database.DownloadProvider"
            android:authorities="${applicationId}.com.example.download"
            android:exported="false" />

        <activity
            android:name="com.thjolin.download.permission.MyPermissionActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>


</manifest>